.title {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 40px;
}

.table{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    /* padding: 10px; */
    border-radius: 5px;
    border: 2px solid #a3a9ad;   
    border-collapse:inherit;
    color: black;
}

.table th{
    text-align: center;
    background-color: #ced4da;
}

.table th,td {
    padding: 8px;
    border: 1px solid #ced4da;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 5px;
}