.title {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 40px;
}

.btnContainer {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 40px;
}

.btnContainer button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: #4bdf5f;
    font-weight: bold;
    color: white;
}

.btnContainer button:hover {
    background-color: #45ca57;
}

.table{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    /* padding: 10px; */
    border-radius: 5px;
    border: 2px solid #a3a9ad;   
    border-collapse:inherit;
    color: black;
}

.table th{
    text-align: center;
    background-color: #ced4da;
}

.table th,td {
    padding: 8px;
    border: 1px solid #ced4da;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 5px;
}