.container {
    width: 100dvw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav {
    grid-column: 1/2;
    background-color: #1b263b;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.content {
    grid-column: 2/6;
}