.title {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 40px;
}

.filtros {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    width: 90%;
    margin: 20px auto;
    /* margin-top: 20px; */
    background-color: white;
    /* padding: 10px; */
    border-radius: 5px;
    border: 2px solid #a3a9ad;   
    border-collapse:inherit;
    color: black;
    margin-bottom: 30px;

}

.table th{
    text-align: center;
    background-color: #ced4da;
}

.table th,td {
    padding: 8px;
    border: 1px solid #ced4da;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btnVer {
    background-color: #007BFF;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    color: white;
}

.btnVer:hover {
    background-color: #0168d6;
}

.btnAsignar {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: #4bdf5f;
    font-weight: bold;
    color: white;
} 

.btnAsignar:hover {
    background-color: #3eb84f;
}

.pageBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    color: #186291;
    font-weight: bold;
    font-size: 20px;
}

.pageBtns button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: #2b9ce2; 
    font-weight: bold;
    color: white;

}

.pageBtns button:hover {
    background-color: #2089ca;
}