.title {
    margin-top: 30px;
    text-align: center;
    color: black;
    font-size: 35px;
}

.form { 
    width: 70%;
    min-height: 60dvh;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.inputContainer input {
    height: 35px;
    width: 40%;
    padding: 10px;
    font-size: 20px;
}

.inputContainerSubject {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.inputContainerSubject input {
    height: 35px;
    width: 86.7%;
    padding: 10px;
    font-size: 20px;
}

.inputContainer select, input[type="file"] {
    height: 35px;
    width: 40%;
    padding: 5px;
    font-size: 20px;
}

.commentBox{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.commentBox textarea {
    width: 86.7%;
    min-width: 86.7%;
    max-width: 86.7%;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;
}

.formBtns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 10px;
}

.saveBtn{
    
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #24ed3f;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveBtn:hover {
    background-color: #1cc433;
}

.btnReset {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #ed2424;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnReset:hover {
    background-color: #cf1f1f;
}