.container {
    width: 100%;
    height: calc(100dvh - 64px);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.loginSection{
    grid-column: 1/2;
}

.loginSection img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}

.loginSection h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    color: black;
}

.loginSection form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.loginSection input {
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(232, 240, 254);
    border: 1px solid #c4c4c4;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.loginSection input:focus{
    outline: none;
}

.loginSection button {
    height: 50px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    background-color: #2b9ce2;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.loginSection button:hover {
    background-color: #2089ca;
}

.loginImage {
    grid-column: 2/4;
    /* height: 100%; */
    background-image: url("../../../public/loginImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}